*.iml
*.class
*.exe
.idea/
out/
*.bin
.classpath
.project
bin/
!ABCGatewayAdapter.class
!XYZGatewayAdapter.class
!AuthorizeCommand.class
!CaptureCommand.class
!CreditCommand.class
!SaleCommand.class
!VoidSaleCommand.class
!AbstractPaymentCommand.class
!IGatewayAdapter.class
!IPaymentCommand.class
!IPaymentRequest.class
!IPaymentResponse.class
!PaymentException.class
!PaymentProcessorConfigurator.class
!PaymentProcessor.class
!PaymentRequest.class
!PaymentResponse.class